In [3]:
import os
import pandas as pd

INPUTS_PATH = os.path.join(os.getcwd(), 'data', 'inputs')

DS_NAME = 'news'
NEWS_VENUE = 'yahoo-finance'

In [8]:
df = pd.read_csv(os.path.join(INPUTS_PATH, DS_NAME, NEWS_VENUE, 'processed', f'{NEWS_VENUE}_sentiment.csv'))

In [9]:
df.head()

,date_publish,venue,company,dummy,negative_sentiment,neutral_sentiment,positive_sentiment,neutral_emotion,surprise_emotion,sadness_emotion,joy_emotion,anger_emotion,disgust_emotion,fear_emotion
0,2022-06-13 12:41:37,yahoo-finance,AMZN,1,0.000315,0.000738,0.998947,0.931345,0.038961,0.010387,0.010367,0.004748,0.003197,0.000995
1,2022-06-13 12:41:37,yahoo-finance,AAPL,1,0.000315,0.000738,0.998947,0.931345,0.038961,0.010387,0.010367,0.004748,0.003197,0.000995
2,2022-06-01 07:33:29,yahoo-finance,AMZN,1,0.000186,0.000452,0.999363,0.517492,0.372164,0.084493,0.009561,0.006741,0.006039,0.003511
3,2022-06-14 13:40:00,yahoo-finance,AMZN,1,0.000176,0.000393,0.999431,0.805267,0.122374,0.048255,0.011149,0.004825,0.004440,0.003690
4,2022-06-07 12:39:08,yahoo-finance,AMZN,1,0.000548,0.000263,0.999189,0.880739,0.059622,0.043610,0.007575,0.004841,0.002626,0.000987

In [11]:
df.shape

(23584, 14)

In [14]:
df.groupby('company').size()

company
AAPL     4742
AMZN     3584
FB       2393
GOOGL    3388
IBM       579
INTC      864
KO        384
MSFT     3042
NFLX      813
NKE       251
ORCL      430
P&G        98
PEP        91
TSLA     2925
dtype: int64